body{
  box-sizing: border-box;
  background-color: silver;
}

header{
  text-align: center;
}

h1{
  font-size: 2em;
  color: cornflowerblue;
}

img{
  width: 30%;
  margin: 20px auto;
}

ul li{
  list-style: circle;
}

ol li{
  list-style: decimal;
}